<div class="d-flex justify-content-end w-100 mb-4">
  <button type="button" class="btn btn-outline-success w-25" (click)="abrirModal(modalCriacao, null)">Criar Leitor</button>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">CPF</th>
    <th scope="col">Preferência</th>
    <th scope="col">Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let leitor of leitores; let index = index">
    <th scope="row">{{ index + 1 }}</th>
    <td>{{ leitor.nome }}</td>
    <td>{{ leitor.cpf }}</td>
    <td>{{ leitor.preferencias }}</td>
    <td class="d-flex">
      <button type="button" class="btn btn-primary d-flex align-items-center mx-2" (click)="abrirModal(modalVisualizacao, leitor)"><span class="material-icons text-light">remove_red_eye</span></button>
      <button type="button" class="btn btn-success d-flex align-items-center mx-2" (click)="abrirModal(modalEdicao, leitor)"><span class="material-icons text-light">edit</span></button>
      <button type="button" class="btn btn-danger d-flex align-items-center mx-2" (click)="abrirModal(modalExclusao, leitor)"><span class="material-icons text-light">delete_outline</span></button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #modalEdicao>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="leitorSelecionado && leitorSelecionado.nome" id="nome" name="nome" aria-describedby="emailHelp" placeholder="Insira um nome">
      </div>
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" [(ngModel)]="leitorSelecionado && leitorSelecionado.cpf" id="cpf" name="cpf" aria-describedby="emailHelp" placeholder="Insira um CPF">
      </div>
      <div class="form-group">
        <label for="preferencias">Preferências</label>
        <input type="text" class="form-control" [(ngModel)]="leitorSelecionado && leitorSelecionado.preferencias" id="preferencias" name="preferencias" aria-describedby="emailHelp" placeholder="Insira um tema preferido">
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-danger text-center w-25 mt-3 mx-1" (click)="editarLeitor(leitorSelecionado)">Confirmar</button>
        <button type="button" class="btn btn-primary text-center w-25 mt-3 mx-1" (click)="fecharModal()">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalExclusao>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Deseja Excluir?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Nome: </strong>{{leitorSelecionado?.nome}}</p>
    <p><strong>CPF: </strong>{{leitorSelecionado?.cpf}}</p>
    <p><strong>Preferências: </strong>{{leitorSelecionado?.preferencias}}</p>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-danger text-center w-25 mt-3 mx-1" (click)="excluirLeitor(leitorSelecionado?.id)">Confirmar</button>
      <button type="button" class="btn btn-primary text-center w-25 mt-3 mx-1" (click)="fecharModal()">Cancelar</button>
    </div>
  </div>
</ng-template>

<ng-template #modalVisualizacao>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Nome: </strong>{{leitorSelecionado?.nome}}</p>
    <p><strong>CPF: </strong>{{leitorSelecionado?.cpf}}</p>
    <p><strong>Preferências: </strong>{{leitorSelecionado?.preferencias}}</p>
    <button type="button" class="btn btn-primary text-center w-100 mt-3" (click)="fecharModal()">Fechar</button>
  </div>
</ng-template>

<ng-template #modalCriacao>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="novoNome">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="leitorSelecionado && leitorSelecionado.nome" id="novoNome" name="novoNome" aria-describedby="emailHelp" placeholder="Insira um nome">
      </div>
      <div class="form-group">
        <label for="novoCpf">CPF</label>
        <input type="text" class="form-control" [(ngModel)]="leitorSelecionado && leitorSelecionado.cpf" id="novoCpf" name="novoCpf" aria-describedby="emailHelp" placeholder="Insira um CPF">
      </div>
      <div class="form-group">
        <label for="novasPreferencias">Preferências</label>
        <input type="text" class="form-control" [(ngModel)]="leitorSelecionado && leitorSelecionado.preferencias" id="novasPreferencias" name="novasPreferencias" aria-describedby="emailHelp" placeholder="Insira um tema preferido">
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success text-center w-25 mt-3 mx-1" (click)="criarLeitor(leitorSelecionado)">Confirmar</button>
        <button type="button" class="btn btn-danger text-center w-25 mt-3 mx-1" (click)="fecharModal()">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
